{{ define "main" }}

<header>
    <h1>{{ $.Site.Title }}</h1>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>
{{ .Content }}
<!--AI时代充斥着太多噪音，我希望可以用相对长的时间做一些尽量深入的工作，创造真正的价值。-->

坚持长期主义，做一些足够深入的工作。<br>
在AI时代的信息洪流中，创造真正的价值。<br>

<br>


{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}
<!-- <hr> -->
<!-- <img src="https://github-readme-stats.vercel.app/api?username=indevn&theme=graywhite&show_icons=true" alt="some_text"> -->
<!-- <br> -->
<div style="text-align: right; font-weight: 500; ">

<a href="about">About</a> | 
<a href="index.xml">RSS</a>
</div>
{{ end }}