{{ define "main" }}

<header>
    <h1>{{ $.Site.Title }}</h1>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>
{{ .Content }}
我是一个CS相关专业学生，本科毕业于西安电子科技大学。<br>
兴趣专注于具有视觉表现力的工作，包括排版和图形渲染，对复杂材质的表面建模有过一些了解。
未来希望成为引擎开发/技术美术，做一些有价值的工作。<br>
我会在这里分享一些自己看过的论文、感兴趣的技术，同时也会分享自己的生活。<br>

<br>


{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}
<!-- <hr> -->
<!-- <img src="https://github-readme-stats.vercel.app/api?username=indevn&theme=graywhite&show_icons=true" alt="some_text"> -->
<!-- <br> -->
<div style="text-align: right; font-weight: 500; ">

<a href="about">About</a> | 
<a href="index.xml">RSS</a>
</div>
{{ end }}